# =========================
# .NET / C#
# =========================
bin/
obj/
TestResults/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# JetBrains Rider / IntelliJ
# =========================
.idea/
*.sln.iml
*.csproj.user

# =========================
# Visual Studio Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =========================
# Visual Studio
# =========================
.vs/

# =========================
# OS Gerados
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
